
#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top-menu {
    background-color: rgb(0, 160, 85);
    color: white;
    min-height: 60px;
}

#page-content {
    background-color: rgb(225, 225, 225);
    flex-grow: 1;
}